/* Prevent text selection highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

:root {
  --mainColor: hsl(295, 94%, 79%);
  --mainColor2: hsl(295, 94%, 69%);
  --secnColor: hsl(208, 100%, 69%);
  --secnColor2: hsl(208, 100%, 59%);

  --mainBlack: hsl(240, 20%, 5%);
  --mainBlack2: hsl(240, 20%, 15%);
  --mainBlack3: hsl(240, 20%, 25%);
  --mainWhite: hsl(240, 100%, 97%);

  --mainColor_50: hsla(295, 94%, 79%, 0.5);
  --mainColor2_50: hsla(295, 94%, 69%, 0.5);
  --secnColor_50: hsl(208, 100%, 69%, 0.5);
  --secnColor2_50: hsl(208, 100%, 59%, 0.5);

  --mainBlack_50: hsla(240, 20%, 5%, 0.5);
  --mainBlack2_50: hsla(240, 20%, 15%, 0.5);
  --mainBlack3_50: hsla(240, 20%, 25%, 0.5);
  --mainWhite_50: hsla(240, 100%, 97%, 0.5);

  --mainColor_75: hsla(295, 94%, 79%, 0.75);
  --mainColor2_75: hsla(295, 94%, 69%, 0.75);
  --secnColor_75: hsl(208, 100%, 69%, 0.75);
  --secnColor2_75: hsl(208, 100%, 59%, 0.75);

  --mainBlack_75: hsla(240, 20%, 5%, 0.75);
  --mainBlack2_75: hsla(240, 20%, 15%, 0.75);
  --mainBlack3_75: hsla(240, 20%, 25%, 0.75);
  --mainWhite_75: hsla(240, 100%, 97%, 0.75);


  --state_active: hsl(115, 100%, 75%);
  --state_reconnecting: hsl(54, 100%, 75%);
  --state_disconnected: hsl(347, 100%, 75%);

  --textSize: 2em;
  --layerIndex: 0;
}

input.noOutline:focus,
select.noOutline:focus,
textarea.noOutline:focus,
button.noOutline:focus {
  outline: none;
}

body {
  font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: var(--mainBlack);
  color: var(--mainWhite);
  
  background-image: url("./map.jpg");
  background-size: auto 150%;
  background-repeat: repeat-x;
  background-position: 0 0;

  animation: idleScroll 36s linear infinite;
}

@keyframes idleScroll {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}

.upperCase {
  text-transform: uppercase;
}

iframe {
  border-radius: 0.5em;
}

a {
  color: var(--secnColor);
  font-weight: 900;
}

a[href]:hover {
  color: var(--secnColor2);
  text-shadow: 0 0 1em var(--secnColor);
}

a:not([href]) {
  color: var(--mainWhite_50);
}

#logo {
  display: flex;
  justify-content: center;
}
#logo > img{
  height: 5em;
  padding-top: 1em;
}

#state {
  text-align: center;
}

.category {
  cursor: pointer;
  background: var(--mainBlack3_50);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow:  0 0 1em 0 var(--mainBlack);
}

.category:hover{
  background: var(--mainBlack2_50);
}

.category *:first-child {
  margin: 0;
}

.category > * {
  padding: 0.1em;
}

.category[isExpanded="true"] {
  height: auto;
}

.category[isExpanded="false"] {
  height: 2em;
}

.category[isExpanded="false"] > * {
  height: 0;
  transform: scaleY(0);
}

.category[isExpanded="false"] > *:first-child {
  height: 1em;
  transform: scaleY(1);
}

.category[isExpanded="true"] > *:first-child::before {
  content: " ▼";
}

.category[isExpanded="false"] > *:first-child::before {
  content: " ▲";
}


#background{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vw;
  width: auto;
  height: auto;
}

#backgroundGradient{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--mainBlack);
  background: linear-gradient(180deg, var(--mainBlack) 0%, var(--mainBlack_75) 100%);
  backdrop-filter: blur(.25em)  brightness(50%) saturate(50%);
}